.bannerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../imgs/bg-intro-dott.png");
    background-color: #315EFB;
    background-position: center center;
}

.bannerText {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.wrapperSelect {
    width: 100%;
    max-width: 250px;
    margin: 0 10px;
}